language: generic

services:
  - docker

before_install:
  - docker build -t utkarsh19-code/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true utkarsh19-code/docker-react npm run test
